body {
    min-width: 300px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

h2 {
    font-size: 2em;
    font-weight: 700;
}

h3 {
    font-size: 1.5em;
}

p {
    font-weight: 400;
}

a {
    color: var(--color-light);
    padding: 3px;
}

a:link {
    text-decoration: none;

}

a:hover {
    border: solid 2px;
    padding: 1px;
    border-radius: 5px;
}

a:visited {
    color: var(--color-light);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}